@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<ul>
    <li> @Html.ActionLink("Nieuw account toevoegen", "Register")</li>
    <li> @Html.ActionLink("Nieuw product toevoegen", "Create","Product")</li>
    <li> @Html.ActionLink("Nieuwe categorie toevoegen", "Create","Categorie")</li>
    <li> @Html.ActionLink("Nieuwe klant toevoegen", "Create","Klant")</li>
</ul>