@model Logic.Product

@{
    ViewData["Title"] = "Nieuw";
}

<h1> Maak</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titel" class="control-label"></label>
                <input asp-for="titel" class="form-control" />
                <span asp-validation-for="titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="omschrijving" class="control-label"></label>
                <input asp-for="omschrijving" class="form-control" />
                <span asp-validation-for="omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prijs" class="control-label"></label>
                <input asp-for="prijs" type="number" min="0.01" value="0.01" step="0.01" class="form-control" />
                <span asp-validation-for="prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
