@model List<Logic.Product>


<h1>Producten</h1>
<ul>
    @foreach (Logic.Product product in Model)
    {
        <li>@Html.ActionLink(product.titel, "Product", new { id = product.id}) </li>
    }
</ul>
<div>
    
    @Html.ActionLink("Toevoegen", "Create")<br />
</div>