@model List<Logic.Product>


<h1>Producten</h1>
<ul>
    @foreach (Logic.Product product in Model)
    {
        <li> <a asp-action="Product" asp-route-id=@product.id>@product.titel</a> </li>
    }
</ul>
<div>
    <a asp-action="Create">Toevoegen</a><br />
</div>