@model Logic.Product


<div>
    <h1 class="display-4">@Model.titel</h1>
    <p>@Model.omschrijving</p>
    <p>€@Model.prijs.ToString("0.00")</p>

</div>
<div>
    @Html.ActionLink("Weizigen", "Edit", new { id = Model.id })<br />
    <a asp-action="Index">Terug</a>
</div>