@model List<KlantViewModel>
@{
    ViewData["Title"] = "Klanten";
}

<h1>Klanten</h1>
<div class="container">
    <ul>
        @foreach (KlantViewModel klant in Model)
        {
            <a asp-action="Klant"
               asp-route-id=@klant.id>
                <li>@klant.naam</li>
            </a>
        }
    </ul>
</div>

<div>

    @Html.ActionLink("Toevoegen", "Create")<br />

</div>
