@model Logic.Categorie

@{
    ViewData["Title"] = "Wijzig";
}

    <h1>Wijzigen</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="titel" class="control-label"></label>
                <input asp-for="titel" class="form-control" />
                <span asp-validation-for="titel" class="text-danger"></span>
            </div>

            <h4>Producten niet in categorie</h4>
            <ul>
                @foreach (Logic.Product product in Model.GetProducts())
                {
                    <li>@product.titel <a asp-action="RemoveProduct" asp-route-categorieId=@Model.id asp-route-productId=@product.id>Verwijderen</a></li>
                }
            </ul>

            <h4>Producten niet in categorie</h4>
            <ul>
                @foreach (Logic.Product product in Model.GetProductsNotInCategorie())
                {
                    <li>@product.titel <a asp-action="AddProduct" asp-route-categorieId=@Model.id asp-route-productId=@product.id>Toevoegen</a></li>
                }
            </ul>

            <div class="form-group">
                <input asp-action="Edit" type="submit" value="Opslaan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Delete" asp-route-id=@Model.id>Verwijderen</a><br />
</div>

