

@model List<OrderViewModel>
@if (Model.Count > 0)
{
    <table data-link="row" class="table table-sm">
        <tr>
            <th>Order Id</th>
            <th>Datum</th>
            <th>Klant</th>
            <th>Betaalstatus</th>
            <th class="text-right">Totaalprijs</th>
        </tr>
        @foreach (OrderViewModel order in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Order" asp-action="Order" asp-route-id=@order.id>
                        #@order.id
                    </a>
                </td>
                <td>@order.date</td>

                <td>
                    @if (order.klantId.HasValue)
                    {
                        <a asp-controller="Klant" asp-action="Klant" asp-route-id=@order.klantId.Value>
                            @order.klantNaam
                        </a>
                    }
                </td>
                <td>
                    @order.betaalStatus
                </td>
                <td class="text-right">@order.totaalPrijs</td>
            </tr>

        }

    </table>
}
else
{
    <p>Nog geen orders</p>
}