@model List<ProductViewModel>

@{
    ViewData["Title"] = "Producten";
}
<h1>Producten</h1>
<ul>
    @foreach (ProductViewModel product in Model)
    {
        <li> <a asp-action="Product" asp-route-id=@product.id>@product.titel</a> </li>
    }
</ul>
