@model ProductViewModel

@{
    ViewData["Title"] = Model.titel;
}
@addTagHelper *, Skippy
<div class="row">
    <div class="col-8">
        <div>
            <h1 class="display-4">@Model.titel</h1>
            <p>@Model.omschrijving</p>
            <p>€@Model.prijs.ToString("0.00")</p>


            <form asp-controller="Order" asp-action="AddProduct" asp-route-productId=@Model.id>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="control-label">aantal</label>
                            <input type="number" id="aantal" name="aantal" min="0" value="1" step="1" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group position-absolute" style="bottom:0">
                            <input type="submit" value="Toevoegen" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id=@Model.id>Wijzigen</a><br />
        </div>
    </div>

    <div class="col-4">
        <vc:order />
    </div>
</div>