@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    Dierenspeciaalzaak de Kinderen<br />
    Geffen, D'n ham 1<br />
    <abbr title="Phone">P:</abbr>
    073-532 55 51
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@dierenspeciaalzaak-dekinderen.nl">Info@dierenspeciaalzaak-dekinderen.nl</a><br />
</address>