@model Logic.Categorie


<h1>@Model.titel</h1>
<h4>Producten in categorie</h4>

<div class="rounded bg-white shadow-sm">
    <ul>
        @foreach (Logic.Product product in Model.GetProducts())
        {
            <li>@product.titel</li>
        }
    </ul>
</div>


<div>
    <a asp-action="Edit" asp-route-id=@Model.id>Wijzigen</a><br />
    <a asp-action="Index">Terug</a>
</div>